map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

map $http_host $meshify_host_header_valid {
    default 0;
    "{{ .ServerName }}" 1;
    "{{ .ServerName }}:443" 1;
}

map $ssl_server_name $meshify_sni_valid {
    default 0;
    "{{ .ServerName }}" 1;
}

upstream headscale_upstream {
    server 127.0.0.1:8080;
    keepalive 32;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name "";

    return 444;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ .ServerName }};

    location /.well-known/acme-challenge/ {
        root /var/lib/meshify/acme-challenges;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name "";

    ssl_certificate /etc/meshify/tls/{{ .ServerName }}/fullchain.pem;
    ssl_certificate_key /etc/meshify/tls/{{ .ServerName }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;

    return 421;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ .ServerName }};

    ssl_certificate /etc/meshify/tls/{{ .ServerName }}/fullchain.pem;
    ssl_certificate_key /etc/meshify/tls/{{ .ServerName }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_timeout 1d;
    ssl_session_cache shared:meshify_tls:10m;
    ssl_prefer_server_ciphers off;

    add_header Strict-Transport-Security "max-age=15552000; includeSubDomains" always;

    if ($meshify_sni_valid = 0) {
        return 421;
    }

    if ($meshify_host_header_valid = 0) {
        return 421;
    }

    location / {
        proxy_pass http://headscale_upstream;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $server_name;
        proxy_redirect http:// https://;
        proxy_buffering off;
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
