server_url: "{{ .ServerURL }}"
listen_addr: "127.0.0.1:8080"
metrics_listen_addr: "127.0.0.1:9090"
grpc_listen_addr: "127.0.0.1:50443"
grpc_allow_insecure: false

noise:
  private_key_path: "/var/lib/headscale/noise_private.key"

prefixes:
  v4: 100.64.0.0/10
  v6: fd7a:115c:a1e0::/48
  allocation: sequential

derp:
  server:
    enabled: true
    region_id: 999
    region_code: "meshify"
    region_name: "Meshify Embedded DERP"
    verify_clients: true
    stun_listen_addr: "0.0.0.0:3478"
    private_key_path: "/var/lib/headscale/derp_server_private.key"
    automatically_add_embedded_derp_region: true
{{- if .PublicIPv4 }}
    ipv4: "{{ .PublicIPv4 }}"
{{- end }}
{{- if .PublicIPv6 }}
    ipv6: "{{ .PublicIPv6 }}"
{{- end }}
  urls: []
  paths: []
  auto_update_enabled: false

disable_check_updates: true

database:
  type: sqlite
  sqlite:
    path: "/var/lib/headscale/db.sqlite"
    write_ahead_log: true
    wal_autocheckpoint: 1000

tls_cert_path: ""
tls_key_path: ""

log:
  level: info
  format: text

policy:
  mode: file
  path: "/etc/headscale/policy.hujson"

dns:
  magic_dns: true
  base_domain: "{{ .BaseDomain }}"
  override_local_dns: true
  nameservers:
    global:
      - 1.1.1.1
      - 1.0.0.1
      - 2606:4700:4700::1111
      - 2606:4700:4700::1001
    split: {}
  search_domains: []
  extra_records: []

unix_socket: "/var/run/headscale/headscale.sock"
unix_socket_permission: "0770"

logtail:
  enabled: false

randomize_client_port: false

taildrop:
  enabled: true