# Meshify-managed: app.name={{ .AppName }}
# Source: deploy/templates/app/goaccess.conf.tmpl

log-file {{ .GoAccess.CanonicalAccessLogPath }}
output {{ .GoAccess.ReportPath }}
log-format {{ .GoAccess.GoAccessLogFormatDirective }}
{{- if .GoAccess.EnhancedLogFormat }}
datetime-format %Y-%m-%dT%H:%M:%S%z
{{- else }}
date-format %d/%b/%Y
time-format %H:%M:%S
{{- end }}
real-time-html true
addr {{ .GoAccess.WebSocketHost }}
port {{ .GoAccess.WebSocketPort }}
ws-url {{ .GoAccess.WSURL }}
origin {{ .GoAccess.Origin }}
ping-interval 10
persist true
restore true
db-path {{ .GoAccess.DBPath }}
html-report-title {{ .GoAccess.HTMLReportTitle }}
static-file .css
static-file .js
static-file .jpg
static-file .png
static-file .gif
static-file .ico
static-file .jpeg
static-file .pdf
static-file .csv
static-file .mpeg
static-file .mpg
static-file .swf
static-file .woff
static-file .woff2
static-file .xls
static-file .xlsx
static-file .doc
static-file .docx
static-file .ppt
static-file .pptx
static-file .txt
static-file .zip
static-file .ogg
static-file .mp3
static-file .mp4
static-file .exe
static-file .iso
static-file .gz
static-file .rar
static-file .svg
static-file .bmp
static-file .tar
static-file .tgz
static-file .tiff
static-file .tif
static-file .ttf
static-file .flv
static-file .dmg
static-file .webp
static-file .xz
static-file .zst
